<h1>About</h1>
<p>Blah blah blah</p>
<div class="body pizazz" id="about-food">
  <div class="about-header">
    <h1><i>The man, the myth, the legend...</i></h1>
    <div class="container-fluid">
      <div class="row" id="about-col">
        <div class="col-sm-4 intro">
          <p>...best describes my pug, <a href="#contact" title="Yes, his name is from Breaking Bad" id="item1">Heisenberg</a>. As for me, I'm just a typical guy. I like to snowboard, make chili, and attempt passing Level 2 Spanish. Oh, and I also like to code!</p>
        </div><!--end about-intro -->
        <div class="col-sm-4 skills">
          <h3>My Skills</h3>
            <ul id="skill-list">
              <li>HTML/CSS</li>
              <li>JavaScript</li>
            </ul>
          </div><!-- end about-skill -->
      </div><!--end row-->
    </div><!--end container-->
    <div class="about-main-text">
      <h3>My Story</h3>
      <p class="about-para">They stormed the high seas on their voyages out of Scotland and Ireland, landed on the fertile shores of what was once known as New Amsterdam, and had prosperous careers as Naval Engineers and produce importers. They were of the clans Reid and Prior, respectively, and they were 20<sup>th</sup> Century Vikings. Generations later, I came along. While I cannot design any kind of military battleship, I did once get a 10-kill streak in Call of Duty (what can I say, it's in my blood). I have always enjoyed the fields of science and technology. In fact, I was studying to be a Civil Engineer (bridges always fascinated me for some reason) before I decided to switch over to Chemistry. I ended up graduating with two degrees, one in Chemistry and another in Business Administration.</p>
    </div><!--end about-header-->
  </div><!--end about-body-->
</div>
</div><!--end about-->
