<h1>About</h1>
<p>Blah blah blah</p>

    <div class="body pizazz" id="about-food">
      <div class="about-header">
        <h1><i>AECRSGEHV</i></h1>
        <div class="container-fluid">
          <div class="row" id="about-col">
            <div class="col-sm-4">
              <img src="img/thanksgiving.jpg" alt="Me being a glutton at Thanksgiving" title="For context, this was my third helping at Thanksgiving..." class="img-responsive mememe">
            </div><!--end about-image-->
            <div class="col-sm-4 intro">
              <p>Lorem ipsum dolor amet craft beer salvia cold-pressed, raw denim semiotics meditation wolf vinyl succulents irony stumptown offal drinking vinegar. Distillery unicorn dreamcatcher migas bespoke pug four loko 90's humblebrag retro cred. Cornhole before they sold out put a bird on it austin meggings chillwave. Authentic four dollar toast cold-pressed, art party jean shorts dreamcatcher flexitarian. Polaroid vice gluten-free man bun salvia four dollar toast leggings art party chicharrones 90's typewriter celiac PBR&B artisan yuccie.</p>
            </div><!--end about-intro -->
          </div><!--end row-->
        </div><!--end container-->
    </div><!--end about-body-->
