<section id="abs">
  <div class="abint">
    <h2>Lorem ipsum dolor amet man braid kale chips organic</h2>
  </div>
  <div class="container-fluid">
    <div class="row abinf">
      <div class="col-md-6 col-sm-12"><img src="img/smalld.jpg" alt="Max or Max and Dad?" title=""></div>
      <div class="col-md-6 col-sm-12"><p>Lorem ipsum dolor amet craft beer salvia cold-pressed, raw denim semiotics meditation wolf vinyl succulents irony stumptown offal drinking vinegar. Distillery unicorn dreamcatcher migas bespoke pug four loko 90's humblebrag retro cred. Cornhole before they sold out put a bird on it austin meggings chillwave. Authentic four dollar toast cold-pressed, art party jean shorts dreamcatcher flexitarian. Polaroid vice gluten-free man bun salvia four dollar toast leggings art party chicharrones 90's typewriter celiac PBR&B artisan yuccie.</p></div>
      <div class="col-md-6 col-sm-12"><img src="img/smalld.jpg" alt="Me or family" title=""></div>
      <div class="col-md-6 col-sm-12"><p>Lorem ipsum dolor amet craft beer salvia cold-pressed, raw denim semiotics meditation wolf vinyl succulents irony stumptown offal drinking vinegar. Distillery unicorn dreamcatcher migas bespoke pug four loko 90's humblebrag retro cred. Cornhole before they sold out put a bird on it austin meggings chillwave. Authentic four dollar toast cold-pressed, art party jean shorts dreamcatcher flexitarian. Polaroid vice gluten-free man bun salvia four dollar toast leggings art party chicharrones 90's typewriter celiac PBR&B artisan yuccie.</p></div>
    </div>
  </div>
</section>
