<h1>Contact</h1>
<p>This is how you get in touch with me</p>
<div class="container anchor" id="contact">
      <div class="body pizazz" id="con-food">
        <div class="con-header row">
          <h1><i>Rain, sleet, or snow...</i></h1>

          <div id="context">
          <div class="con-intro col-lg-6 col-md-6 concol">
            <p>... I hate them all. In any case I will make sure to respond to any questions with haste! Feel free to message me via Facebook, email, or by phone:</p>
            <div class="clist">
              <ul class="con-icons">
                <li><a href="https://www.facebook.com/javier.james.169" target="_blank"><span class="glyphicon glyphicon-thumbs-up"></span></a> Check me out on Facebook</li>
                <li><a href="mailto:davidjames91@hotmail.com" title="_blank"><span class="glyphicon glyphicon-envelope"></span></a> Send me a direct email</li>
                <li><a href="tel:+1-845-674-0330" title="_blank"><span class="glyphicon glyphicon-earphone"></span></a> Hit up my phone </li>
              </ul>
            </div><!--end clist-->
            <div id="map">
              <!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=leonia%2C%20nj&key=AIzaSyBuScZcacV1M0Jsnq0r_yEPvKo-dS7SFCc" allowfullscreen id="map"></iframe> -->
            </div> <!-- end map-->
          </div><!--end con-intro-->
          <form class="col-lg-6 col-md-6 concol">
            <div class="form-group">
              <label for="name">Name</label>
              <br />
              <input type="text" placeholder="Enter your name" required="required" id="name">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <br />
              <input type="phone" placeholder="Enter your phone number" id="phone">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <br />
              <input type="email" placeholder="Enter your email" required="required" id="email">
            </div>
            <div class="form-group">
              <label for="messbox">Message</label>
              <textarea style="resize:none" cols="40" rows="5" class="form-control message-box" placeholder="Your message here (minimum of 50 characters, maximum of 250)" required="required" minLength="50" maxLength="250" id="messbox"></textarea>
              <p id="visible-comment"></p>
              <p id="char-count"></p>
              <button type="button" class="btn btn-default conbutt" id="button">Submit</button>
            </div>
          </div>
          </form>
        </div><!--end con-header-->
      </div><!--end con-container-->
    </div><!--end contact-->
