<section class="jumbo">
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Contact</h1>
    </div>
  </div>

  <hr >


  <div class="row-work anchor inner" id="contact">
    <div>
      <div class="container-fluid">
        <div class="row contact-row">
          <div class="col-xl-6 col-sm-12 clist">
            <div class="conint">
              <h3>Lorem ipsum dolor amet man braid kale chips organic</h3>
              <p> gerstache vegan kitsch. Vice shaman schlitz readymade pok pok fam meditation organic direct trade messenger bag synth normcore you probably haven't heard of them vexillologist squid. Man braid retro everyday carry PBR&B, literally pok pok viral fixie yr taiyaki jianbing franzen air plant. Kogi glossier four dollar toast franzen neutra artisan readymade banh mi chartreuse poke literally seitan poutine. Seitan shoreditch bitters tbh pabst ennui synth succulents live-edge listicle narwhal food truck copper mug taiyaki umami. Yr craft beer flannel, lyft bespoke plaid synth blog brunch vice chillwave tumeric 90's. Hashtag jianbing irony kogi, beard health goth tbh lumbersexual flexitarian tofu gochujang +1 wolf.</p>
            </div>
          </div><!-- /col-xs-12 col-md-6 socialmedia-like-->
          <div class="col-xl-6 col-sm-12 clist">
            <form class="centermail">
              <div class="col-lg-4 col-sm-12">
                <div class="form_group">
                  <label for="Name" class="contact_label">Name</label>
                  <input type="text" id="name" required="required" placeholder="Your name" class="form-control" >
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form_group">
                  <label for="Phone" class="contact_label">Phone</label>
                  <input type="tel" id="phone" placeholder="Your phone number [OPTIONAL]" class="form-control">
                </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                <div class="form_group">
                  <label for="Email" class="contact_label">Email</label>
                  <input type="email" id="email" required="required" placeholder="Your email" class="form-control" >
                </div>
              </div>
              <div class="col-lg-8 col-sm-12">
                <div class="textarea">
                  <label for="message" class="contact_label">Message</label>
                  <textarea style="resize:none" cols="40" rows="5" required="required" placeholder="Your message (50 character minimum, 250 character maximum)" id="message" class="message_box form-control" minlength="50" maxlength="250"></textarea>
                  <p id=viscom></p>
                </div>
              </div>
              <div class="col-lg-8 col-md-8">
                <button type="submit" class="btn btn-light">Submit</button>
              </div>
            </form>
          </div>
        </div><!-- /row -->
      </div><!-- /container-fluid-->
    </div><!-- / contactinfo -->
  </div><!-- /contact-page -->
</section>
