
    <div class="body pizazz" id="con-food">
      <div class="con-header">
        <h1><i>SRGAVFBLESRD</i></h1>
        <div class="con-image">
          <img src="img/heisen.jpg" alt="My boy, Heisenberg, on the hunt" title="Temptation can challenge even the strongest of wills">
        </div><!--end con-image-->
        <div class="con-intro">
          <p>Lorem ipsum dolor amet craft beer salvia cold-pressed, raw denim semiotics meditation wolf vinyl succulents irony stumptown offal drinking vinegar. Distillery unicorn dreamcatcher migas bespoke pug four loko 90's humblebrag retro cred. Cornhole before they sold out put a bird on it austin meggings chillwave. Authentic four dollar toast cold-pressed, art party jean shorts dreamcatcher flexitarian. Polaroid vice gluten-free man bun salvia four dollar toast leggings art party chicharrones 90's typewriter celiac PBR&B artisan yuccie.</p>
          <div class="clist">
            <ul class="con-icons">
              <li><a href="https://www.facebook.com/javier.james.169" target="_blank"><span class="glyphicon glyphicon-thumbs-up"></span></a></li>
              <li><a href="mailto:davidjames91@hotmail.com" title="_blank"><span class="glyphicon glyphicon-envelope"></span></a></li>
              <li><a href="tel:+1-845-674-0330" title="_blank"><span class="glyphicon glyphicon-earphone"></span></a></li>
            </ul>
          </div><!--end clist-->
        </div><!--end con-intro-->
      </div><!--end con-header-->
    </div><!--end con-container-->
