
// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*******GENERAL************/

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Denk One', sans-serif;
  background: #FFC18F;
  min-height: 100%;
  margin-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
  color: #516666;
  text-transform: uppercase;
  text-align: center;
}

.page {
  padding-top: 50px;
}

/*******NAVIGATION & JUMBOTRON************/


.navbar-nav {
  margin-left: 0.5em;
}
.navbar a {
  font-size: 1.2em;
  letter-spacing: 0.05em;
}

.navbar-inverse {
  background-color: white;
  border: 0px;
}

.jumbotron {
  background: #FFC18F;
  margin: 0;
  padding: 0;
  text-align: center;
}

#landover {
  margin: 20px 10px;
}

#landover a {
  line-height: 10px;
  color: #FFC18F;
  text-shadow: -8px 10px 8px #000, -7px 12px 1px rgba(0, 0, 0, 0.15);
}

#homeover a,
#prodover a,
#orderover a,
#aboutover a,
#conover a,
#log a {
  font-family: 'Denk One', sans-serif;
}

#homeover a:hover,
#prodover a:hover,
#orderover a:hover,
#aboutover a:hover,
#conover a:hover,
#log a:hover {
  color: #FFC18F;
  text-decoration: none;
}

#log {
  border-style: outset;
  border-width: thick;
  border-radius: 25%;
  border-color: #FFC18F;
  background-color: #8AC2C0;
  margin: 10px;
}

#log a {
  padding: 4%;
  color: white;
}


/***************FOOTER**************/
#foot {
  font-family: 'Denk One', sans-serif;
  background-color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  position: fixed;
  padding: 0.5em;
  margin: 0px;
}

.copyR {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#searchbar {
  list-style: none;
}

.form-control, {
  border-width: medium;
  border-color: #FFC18F;
  border-style: inset;
}

.btn-default {
  margin: 0 15px;
}


/*******************************************************************************************************************************************************************************************
***************************     INDEX      *****************************************************************************************************************************************************************************
***************************************************************************************************************************************************************************************************/

.index-row {
  margin: 0 5%;
  padding-bottom: 10px;
  text-align: center;
}

.indexSnippet {
  background: white;
  max-width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  height: 440px;
  padding-top: 20px;
}

.why {
  font-size: 24px;
}

/*******************************************************************************************************************************************************************************************
****************************    ORDERS      ****************************************************************************************************************************************************************************
**************************************************************************************************************************************************************************************************/



/*****ABOUT***************************************************************************************************************************************************************************************
****************************     ABOUT     **********************************************************************************************************************************************************************
***************************************************************************************************************************************************************************************************/

.abinf {
  margin: 0 5%;
}

.abPic {
  border-radius: 100%;
  margin: 10px auto 20px;
  padding-bottom: 15px;  
}

/********************************************************************************************************************************************************************************************
***************************    CONTACT    *****************************************************************************************************************************************************************************
***************************************************************************************************************************************************************************************************/

.btn-success {
  border-radius: 10%;
}

/********************************************************************************************************************************************************************************************
***********************     LANDING PAGE     *****************************************************************************************************************************************************
***************************************************************************************************************************************************************************************************/

#carousel-example-generic {
  max-width: 80%;
  margin: auto;
}

#carousel-example-generic p {
  color: #D9925A;
  text-shadow: -2px 2px #000;
  font-size: 24px;
  font-family: 'Denk One', sans-serif;
}














/********************************************************************************************************************************************************************************************
************************    MEDIA QUERIES      ********************************************************************************************************************************************************************************
***************************************************************************************************************************************************************************************************/

@media (max-width: 767.9px) {
  /***************         general,multipage            ******************/
  .copyR {
    text-align: center;
  }
  #searchbar {
    text-align: center;
  }

  .form-control,
  .btn-default {
    max-width: 40%;
  }

  /***************         index            ******************/

  .indexSnippet {
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    border-style: solid;
    border-width: medium;
    border-color: #FFC18F;
  }
  .index-row {
    margin-top: 20px;
    padding-bottom: 0px;
  }
  /***************         contact            ******************/

  #contact {
    margin-bottom: 60px;
  }

}


@media (min-width: 768px) {
  #searchbar,
  .conButt {
    float: right;
  }
  .clist {
    width: 50%;
  }
  .con_intro {
    text-align: justify;
  }
}


@media (min-width: 930px) {
  .indexSnippet {
    max-width: 32%;
  }
}


@media (max-width: 991.9px) { /*******this may be a better fit in the products stylesheet***/
  .nottop {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .dogs {
    margin-bottom: 20px;
  }
  .abinf {
    padding-top: 92.5px;
  }
}
