
<section class="jumbo">
  <div class="jumbotron">
    <div class="container-fluid">
      <h1>Products</h1>
    </div>
  </div>

  <hr>


</section>

<%= render 'main', product: @product %>

<br>

<%= link_to 'New Product', new_product_path %>
